#app {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

#board {
  height: 702px;
  width: 702px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 2px;
}

#container div {
  display: inline-block;
}

#controls {
  width: 350px;
  vertical-align: top;
  margin-left: 25px;
}

.solveBtn {
  padding: 20px;
  width: 130px;
  font-size: 15px;
  border-radius: 2px;
  background-color: aliceblue;
  border: 2px solid black;
}

.solveBtn:hover {
  cursor: pointer;
}

.cell:nth-child(9n+3) {
  border-right: 2px solid black;
}

.cell:nth-child(9n+7) {
  border-left: 2px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27) {
  border-bottom: 2px solid black;
}

.cell:nth-child(n+55):nth-child(-n+63) {
  border-top: 2px solid black;
}

.cell {
  border: 1px solid #dee4ea;
  display: inline-block;
  width: 78px;
  height: 78px;
  line-height: 77.7px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}
