#app {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

#board {
  height: 700px;
  width: 700px;
  margin: 0 auto;
  background-color: aliceblue;
}

.cell {
  display: inline-block;
  width: 77.7px;
  height: 77.7px;
  line-height: 77.7px;
  text-align: center;
  vertical-align: middle;
  outline: 1px solid black;
}
